<!DOCTYPE HTML>

<html>
<head>
    <title>SriSrithikDairy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/css/main.css" rel="stylesheet" />
    


</head>
<body class="left-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" class="wrapper">
            <div id="header">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="index.html">Sri Srithik Dairy</a></h1>

                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="Index"><button style="background-color:#63c7d8;"><font color="white">Home</font></button></a></li>
                        <li class="current"><a href="~/Views/Default/AboutUs.cshtml"><button style="background-color:#63c7d8;"><font color="white">About Us</font></button></a></li>
                        <li class="current"><a href="DairyFormManagement"><button style="background-color:#63c7d8;"><font color="white">Dairy Form Management</font></button></a></li>
                        <li class="current"><a href="Ourproducts"><button style="background-color:#63c7d8;"><font color="white">OurProducts</font></button></a></li>

                      
                    </ul>
                </nav>


            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style2">
            <div class="title">Left Sidebar</div>
            <div id="main" class="container">
                <div class="row 150%">
                    <div class="4u 12u(mobile)">

                        <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="box">
                                <header>
                                    <h2>Plant and Machinery</h2>
                                </header>
                                <p style="text-align:justify;">
                                    Different machinery are required for the processing plant based on the type of milk received and proposed. The machinery should be as per the BIS specifications
                                    amet risus elit.
                                </p>
                                <a href="#" class="button style1">Learn More</a>
                            </section>
                            <section class="box">
                                <header>
                                    <h2>Vitae turpis consequat</h2>
                                </header>
                                <ul class="style2">
                                    <li>
                                        <article class="box post-excerpt">
                                            <a href="#" class="image left"><img src="images/pic08.jpg" alt="" /></a>
                                            <h3><a href="#">Diam odio lorem</a></h3>
                                            <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="box post-excerpt">
                                            <a href="#" class="image left"><img src="images/pic09.jpg" alt="" /></a>
                                            <h3><a href="#">Sed duis consequat</a></h3>
                                            <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="box post-excerpt">
                                            <a href="#" class="image left"><img src="images/pic10.jpg" alt="" /></a>
                                            <h3><a href="#">Tellus nulla volutpat</a></h3>
                                            <p>Duis odio diam, luctus et vulputate vitae, vehicula ac dolor. Pellentesque at urna eget tellus sed etiam.</p>
                                        </article>
                                    </li>
                                </ul>
                                <a href="#" class="button style1">Archives</a>
                            </section>
                            <section class="box">
                                <header>
                                    <h2>Approvals and Permissioms</h2>
                                </header>
                                <ul class="style3">
                                    <li><a href="#">NOC from fire services department</a></li>
                                    <li><a href="#">Approval of plan by gram panchayat/muncipality</a></li>
                                    <li><a href="#">Clearence from pollution control board</a></li>
                                    <li><a href="#">Registration with distric industries centre of are small industry </a></li>
                                    <li><a href="#">License from factory inspector for installation of boillers</a></li>
                                    <li><a href="#">Approval of plan by electrical department</a></li>
                                    <li><a href="#">Approval of plan by food safety department </a></li>
                                    <li><a href="#">License from labour commissioner</a></li>
                                    <li><a href="#">License from weights and measures</a></li>

                                </ul>
                            </section>
                        </div>

                    </div>
                    <div class="8u 12u(mobile) important(mobile)">

                        <!-- Content -->
                        <div id="content">
                            <article class="box post">
                                <header class="style1">
                                    <h2>Lorem ipsum dolor sit amet magna egestas morbi bibendum sed malesuada</h2>
                                    <p style="text-align:justify;">Tempus feugiat veroeros sed nullam dolore</p>
                                </header>
                                <a href="#" class="image featured">
                                    <img src="~/images/banner.jpeg" />
                                </a>
                                <h5>UTILITIES</h5>
                                <h1>Power</h1>
                                <p style="text-align:justify;">Normally a three phas electricity supply is required for milk processing plants. The power depends upon the load to be connected and the necessary approval from SEB should be obtained for connection. Depending up on the position of power supply,stand by generators may be considerd for connecting the essential sections </p>
                                <h1>Water</h1>
                                <p>A milk processing plant requires the water in the ratio of 2:1 (2liters of water for 1 liter of milk processed) for cleaning of equipments, cold storage and drinking water. Accordingly, the size of the well is required to be designed and depends on the quality of water, the water softening plant may be considered</p>
                                <h1>Steam</h1>
                                <p style="text-align:justify;">The steam requirement (kg/hr)depends upon the processes involved and the source of the steam may be meet by coal/oil/gas fired/electric boiller</p>
                                <h1>Fuel</h1>
                                <p style="text-align:justify;">The fuel is need for various processing operation. The type of fuel will depends upon the type of boiler used for team generation. It is therefore necessary to access the requirment of LDO/coal/gas and also ascertain the easy availability before purchase of boiler</p>
                                <h1>Compressed Air</h1>
                                <p style="text-align:justify;">It will be required for various pneumatic operations flow control operations as well as for cleaning purpose. The total requirement of compressed air and the capacity of the compressors are required to be furnished.</p>
                                <h2>
                                    Raw Material
                                </h2>
                                <p>
                                    The principal raw material is milk.The extent of milk procurement area milch animal population average milk yield percentage of animal in milk,marketed surplus etc. Will determine the size of the plant. The method of procurement, transportation of milk and input supply to the farmers is required to be highlighted.The availability of other inputs such as packing materials, disinfectants and consumables should be ascertained
                                </p>
                            </article>
                            <div class="row 150%">
                                <div class="6u 12u(mobile)">
                                    <section class="box">
                                        <header>
                                            <h2>Site Developement</h2>
                                        </header>
                                        <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                                        <p style="text-align:justify;">
                                            * Prefarably the entire site should be fenced with barbed wire or compound wall is constructed with gates at suitable places.<br />
                                            * Proper drinage arrangements should be made to ensure cleanliness.
                                        </pstyle="text-align:justify;">

                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section class="box">
                                        <header>
                                            <h2></h2>
                                        </header>
                                        <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
                                        <nr />
                                        <p style="text-align:justify;">
                                            <nr />
                                            * At the raw milk reception area there should be provision fo unloading cans from different types of vehicles.<br />
                                            * Internal roads should be oftnr/Bricks/WBM depending upon the soil conditions, rainfall and numnber of vehicles moving every day.
                                        </p>

                                    </section>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Highlights -->
        <div class="wrapper style3">
            <div class="title">FOUNDERS</div>
            <div id="highlights" class="container">
                <div class="row 150%">
                    <div class="4u 12u(mobile)">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                            <h3><a href="#">Aliquam diam consequat</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Learn More</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                            <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Learn More</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                            <h3><a href="#">Mattis tempus lorem</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Learn More</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper" class="wrapper">
            <div class="title">Leo Elit Ut Ac</div>
            <div id="footer" class="container">
                <header class="style1">
                    <h2>Ipsum sapien elementum portitor?</h2>
                    <p>
                        Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
                        Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
                    </p>
                </header>
                <hr />
                <div class="row 150%">
                    <div class="6u 12u(mobile)">

                        <!-- Contact Form -->
                        <section>
                            <form method="post" action="#">
                                <div class="row 50%">
                                    <div class="6u 12u(mobile)">
                                        <input type="text" name="name" id="contact-name" placeholder="Name" />
                                    </div>
                                    <div class="6u 12u(mobile)">
                                        <input type="text" name="email" id="contact-email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="row 50%">
                                    <div class="12u">
                                        <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="12u">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Send" /></li>
                                            <li><input type="reset" class="style2" value="Reset" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </div>
                    <div class="6u 12u(mobile)">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-home">Mailing Address</h3>
                                        <p>
                                            Sri Srithik Dairy Products Pvt.Ltd.,<br />
                                            Mukkinada Veerampalem road<br />
                                            Veerampalem, Rangampeta Mandal<br />
                                            East Godavari<br />
                                            AP-533294<br />
                                        </p>
                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-comment">Social</h3>
                                        <p>

                                            
                                            <a href="#">linkedin.com/untitled</a><br />
                                            <a href="#">facebook.com/untitled</a>
                                        </p>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-envelope">Email</h3>
                                        <p>
                                            <a href="#">srisrithikdairy@gmail.com</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-phone">Phone</h3>
                                        <p>
                                            +91 8985193666
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <hr />
            </div>
            <div id="copyright">
                <ul>
                    <li>&copy; Sri Srithik</li>
                </ul>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/skel-viewport.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>


</body>
</html>
