
<!DOCTYPE HTML>
<html>
<head>
    <title>Sri Srithik Dairy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="homepage">

    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper" class="wrapper">


            <!-- Nav -->

            <nav id="nav">

                <ul>
                    
                    
                    <li class="current"><button style="background-color:#63c7d8;" onclick="window.location.href ='/Default/Index';"><font color="white"> HOME</font></button></li>
                    <li class="current"><button onclick="window.location.href = '/Default/AboutUs';" style="background-color:#63c7d8;"><font color="white">About Us</font></button></li>
                    <li class="current"><button onclick="window.location.herf = '/Default/DairyFormManagement';" style="background-color:#63c7d8;"><font color="white">Dairy Form Management</font></button></li>
                    <li class="current"><button onclick="window.location.herf ='/Default/Ourproducts';" style="background-color:#63c7d8;"><font color="white">OurProducts</font></button></li>
                </ul>
            </nav>

        </div>
    </div>
    <div style="margin-bottom:40px; margin-top:100px;"><img src="~/banner.jpeg" />
        


    </div>
    <!-- Intro -->
    <div id="intro-wrapper" class="wrapper style1">
        <div class="title">OBJECTIVES OF THE PROJECTS</div>
        <section id="intro" class="container">
            <p class="style1" >
                To enhance the keeping quality of milk<br />
                To manufacture various milk products as per market demand<br />
                To provide quality products at affordable prices to the consumers<br />
                To avoid the ecnomic losses to farmers by procuring the milk in time from them<br />
            </p>
            <p class="style2">
                MILK PROCUREMENT AND PROCESSING <br class="mobile-hide" />

            </p>
            <p class="style3"> The organised dairy sector (both cooperatives and private) is presently handles about 15 percent of total milk p[roduction in the country. Thus it indicates, there is a wide scopefor processing of milk and manufacture of milk products for domestic consumption as well as export.</p>
            <ul class="actions">
                <li><a href="AboutUs" class="button style3 big">Proceed</a></li>
            </ul>
        </section>
    </div>

    <!-- Main -->
    <div class="wrapper style2">
        <div class="title"> <h1>Layout and Building</h1></div>
        <div id="main" class="container">

            <!-- Image -->
            <a href="#" class="image featured">
                <img src="images/pic01.jpg" alt="" />
            </a>

            <!-- Features -->
            <section id="features">
                <header class="style1">

                    <p style="text-align:justify;">
                        The civil work comprise of main processing building, which includes Raw Milk, Reception Dock, Main processing hall, provision of manufacture of other products, cold storage, CIP, Laboratory, Quarters, office, garriages, security post etc.<br />
                        The factory building for the milk reception, quality control, packing and storage of milk products should be as per BIS specifications.<br />
                        The total covered area depends on the process involved, products manufactured, the quality of milk handled and the equipment chosen product manufacturing. <br />
                        <br />
                        The milk processing plant shall have the following essential facilities.<br />
                    </p>
                </header>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon  fa-coffee">Raw Milk Reception Dock</h3>
                                <p style="text-align:justify;">Consisting of can conveyor, can washer, weighing balance, dump tank etc.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-refresh">Processing Hall</h3>
                                <p style="text-align:justify;">Cream seperator, chiller, homogenizer, pasteurire and other related machinery are installed.</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon  fa-archive">Storage Area</h3>
                                <p style="text-align:justify;">It is for milk storage tanks.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon  fa-industry">Product Manufacturing Area</h3>
                                <p style="text-align:justify;">It depends upon the type of products, quantity of milk handled and machinary to be installed.</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon  fa-cube">Packing Area</h3>
                                <p style="text-align:justify;">It is for packing liquid milk and other products.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon  fa-thermometer">Cold Storage</h3>
                                <p style="text-align:justify;">It is for keeping the milk and milk products before sending to market.</p>
                            </section>
                        </div>
                    </div>
                    </header>
                    <div class="feature-list">
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon  fa-flask">Quality Control laboratory</h3>
                                    <p style="text-align:justify;">For installing the quality of milk and milk products</p>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-area-chart">Utilities Area</h3>
                                    <p style="text-align:justify;">For installing boiler, genrator set,water treatment plant,maintenance and store area for spares</p>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-car">vehicle parking area</h3>
                                    <p style="text-align:justify;">It is both for milk procurement and disturbution </p>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-cog">waste water treatment plant </h3>
                                    <p style="text-align:justify;">For treating the dairy effluents before releasing to the fields</p>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-home">quarters and office area </h3>
                                    <p style="text-align:justify;">It is for all the essential staff</p>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-check">Input supply area</h3>
                                    <p style="text-align:justify;">It is for providing veterinary service,supply of feed,fodder seeds,etc</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <!-- Highlights -->
    <div class="wrapper style3">
        <div class="title"></div>
        <div id="highlights" class="container">
            <div class="row 150%">
                <div class="4u 12u(mobile)">
                    <section class="highlight">
                        <a href="#" class="image featured">
                            <img src="~/images/curd.jpeg"height="275px" />

                        </a>
                        <h3><a href="#">Natural Curd</a></h3>
                        <p style="text-align:justify;">Curd is a dairy product obtained by coagulating milk in a process called curdling.Milk that has been left to sour  will also naturally produce curds, and sour milk cheeses are produced this way.</p>
                        <ul class="actions">
                            <li><a href="#" class="button style1">Learn More</a></li>
                        </ul>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="highlight">
                        <a href="#" class="image featured">

                            <img src="~/images/milk.jpeg " />

                        </a>
                        <h3><a href="#">Full Cream Milk</a></h3>
                        <p style="text-align:justify;">Full cream milk is a highly nutritious food that provides the essential nutrients needed by the body for healthy development. This creamy fluid .</p>
                        <ul class="actions">
                            <li><a href="#" class="button style1">Learn More</a></li>
                        </ul>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="highlight">
                        <a href="#" class="image featured">

                            <img src="~/images/milk1.jpeg" />

                        </a>
                        <h3><a href="#">Toned milk</a></h3>
                        <p style="text-align:justify;">Toned milk is a method, developed in India, of treating buffalo milk by adding skim milk, powdered skim milk and water to buffalo milk. This process decreases the fat content, increases the quantity of available milk</p>
                        <ul class="actions">
                            <li><a href="#" class="button style1">Learn More</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper" class="wrapper">
       
        <div id="footer" class="container">
            <header class="style1">
                <h2>Bulk milk cooler/ Milk chilling plant</h2>
                <p style="text-align:justify;">
                    This involves collection of milk from the villages chilling the milk to  3-4 degree celcius on a transporting to the main dairy farm for further processing and manufacturing of products. In majority of cases these are part of milk processing facility
                </p>
                <h2>Market Milk Plant / Milk Processing Plant</h2>
                <p>
                    It involvoes procurement of milk from the villages,chilling,standarization,homogenization,pasteurization,packing milks of various kinds as well as manufature of milk products
                </p>


            </header>
            <hr />
            <div class="row 150%">
                <div class="6u 12u(mobile)">

                    <!-- Contact Form -->
                    <section>
                        <form method="post" action="#">
                            <div class="row 50%">
                                <div class="6u 12u(mobile)">
                                    <input type="text" name="name" id="contact-name" placeholder="Name" />
                                </div>
                                <div class="6u 12u(mobile)">
                                    <input type="text" name="email" id="contact-email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="row 50%">
                                <div class="12u">
                                    <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" class="style1" value="Send" /></li>
                                        <li><input type="reset" class="style2" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>

                </div>
                <div class="6u 12u(mobile)">

                    <!-- Contact -->
                    <section class="feature-list small">
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section>
                                    
                                    <div style="width:100%;">
                                        Sri Srithik Dairy Products Pvt.Ltd.,
                                        Mukkinada Veerampalem road
                                        Veerampalem, Rangampeta Mandal
                                        East Godavari
                                        AP-533294

                                    </div>
                                </section>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-envelope">Email</h3>
                                    <p>
                                        <a href="#">srisrithikdairy@gmail.com</a>
                                    </p>
                                </section>
                            </div>
                            <div class="6u 12u(mobile)">
                                <section>
                                    <h3 class="icon fa-phone"> Phone</h3>
                                    <p>
                                        +91 8985193666
                                    </p>
                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <hr />
        </div>
        <div id="copyright">
            <ul>
                <li>&copy; Sri Srithik</li>
            </ul>
        </div>
    </div>

    </div>

    <!-- Scripts -->



    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/skel-viewport.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>


</body>
</html>